<div class="header">
    <div class="site-nav">
        <div class="row">
            <div class="site-nav-l">
                <div class="site-nav-item">
                    <div class="site-nav-item-hd"><a href="/" style="display: block" target="_blank"><i><img style="display: block;height: 30px;margin-top: 3px" src="/static/images/logo.png"></i></a></div>
                </div>
                <div class="site-nav-item">
                    <div class="site-nav-item-hd">
                        <a href="/" target="_blank">保证品质优先 坚持货到付款</a>
                    </div>
                </div>
            </div>
            <div class="site-nav-r">
                <div class="site-nav-item">
                    <div class="site-nav-item-hd">
                        <a href="/" target="_blank">
                            <span class="user-name">首页</span>
                            <i class="icon-top"></i></a>
                    </div>
                </div>
                <div ng-repeat="catalog in catalogs" class="site-nav-item">
                    <div class="site-nav-item-hd pipe">
                        <a href="/list?id={{catalog.id}}" target="_blank"><span>{{catalog.name}}</span></a>
                    </div>
                </div>
                <div class="site-nav-item">
                    <div class="site-nav-item-hd pipe">
                        <a href="/mem/odr/list" target="_blank"><span>我的订单</span></a>
                    </div>
                </div>
                <div class="site-nav-item">
                    <div class="site-nav-item-hd pipe">
                        <a href="/article/about" target="_blank"><span>关于我们</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>