<div class="header">
    <div class="site-nav">
        <div class="row">
            <div class="site-nav-l">
                <div class="site-nav-item">
                    <div class="site-nav-item-hd"><a href="/" style="display: block" target="_blank"><i><img style="display: block;height: 30px;margin-top: 3px" src="/static/images/logo.png"></i></a></div>
                </div>
                <div class="site-nav-item">
                    <div class="site-nav-item-hd">
                        <a href="/" target="_blank">保证品质优先 坚持货到付款</a>
                    </div>
                </div>
                <!--<div class="site-nav-item">
                    <div class="site-nav-item-hd">
                        <div class="notice-list">
                            <ul class="notice-list-ul">
                                <li class="notice-item">
                                    <a class="notice-txt"
                                       href="http://you.163.com/flashSale/">【5折SALE】爆款内裤穿搭好物19.5...</a>
                                </li>
                                <li class="notice-item">
                                    <a class="notice-txt"
                                       href="http://you.163.com/flashSale/">【5折SALE】爆款内裤穿搭好物19.5...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="site-nav-r">
                <div class="site-nav-item">
                    <div class="site-nav-item-hd">
                        <a href="/">
                            <span class="user-name">首页</span>
                            <i class="icon-top"></i></a>
                    </div>
                </div>
                <div ng-repeat="catalog in catalogs" class="site-nav-item">
                    <div class="site-nav-item-hd pipe">
                        <a href="/list?id={{catalog.id}}"><span>{{catalog.name}}</span></a>
                    </div>
                </div>
                <div class="site-nav-item">
                    <div class="site-nav-item-hd pipe">
                        <a href="/mem/odr/list"><span>我的订单</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="func-tab" style="display: none">
        <div class="row">
            <a class="logo func-tab-fixed-hide" href="http://you.163.com/">
                <i></i>
            </a>
            <a class="tab-logo-fixed func-tab-hide" href="http://you.163.com/">
                <i class="mini-logo"></i>
            </a>
            <!--<div class="cart-enter-wrap">
                <div class="cart-enter">
                    <i class="cart-num">0</i>
                    <i class="top-cart"></i>
                </div>
                <div class="yx-cp-m-miniCart" style="display:none;" data-reactid=".0.1.1.2.1"></div>
            </div>
            <div class="fixed-user func-tab-hide">
                <a href="" style="display:block;">
                    <i class="yx-cp-icon-yxtop icon-yxtop-userempty"></i>
                </a>
            </div>-->
            <!--<ul class="tab-nav">
                <li class="tab-nav-split"></li>
                <li class="tab-nav-item "><a class="top-level" href="javascript:;">为你严选</a></li>
            </ul>-->
            <!--<div class="search">
                <div class="search-input-wrap">
                    <div class="search-input-button">&gt;&gt;</div>
                    <input type="text" class="search-input" autocomplete="off" maxlength="100" name="searchInput">
                    <div class="search-default-keyword">春风情趣低至9元</div>
                </div>
                <div class="search-button">
                    <i class="icon-top icon-search"></i></div>
                <div class="suggest">
                    <ul class="suggest-list">
                        <li class="suggest-item"></li>
                    </ul>
                </div>
            </div>-->

            <ul class="menu">
                <li class="menu-item">
                    <a href="javascript:;">首页</a>
                </li>
                <li class="menu-item">
                    <a href="javascript:;">服装</a>
                </li>
            </ul>
        </div>
    </div>
</div>