.product-intro {
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;
  .preview-wrap {
    float: left;
    width: 524px;
    overflow: hidden;
    .preview {
      position: relative;
      float: left;
      width: 430px;
      height: 430px;
      border: 1px solid #e8e8e8;
      margin-right: 16px;
      img {
        display: block;
        width: 428px;
        height: 428px;
        background-color: #f4f4f4;
      }
    }
    .spec-items {
      float: right;
      overflow: hidden;
      position: relative;
      ul {
        position: relative;
        li {
          zoom: 1;
          width: 78px;
          height: 78px;
          overflow: hidden;
          margin-bottom: 10px;
          vertical-align: top;
          a {
            display: block;
            width: 78px;
            height: 78px;
            border: 1px solid #e8e8e8;
            img {
              display: block;
              width: 100%;
              height: 100%;
              background-color: #f4f4f4;
            }

            &.img-hover {
              display: block;
              width: 78px;
              height: 78px;
              border: 2px solid #b4a078;
            }
          }
        }
      }
    }
  }
  .itemInfo-wrap {
    float: right;
    width: 566px;
    padding-left: 62px;
    word-break: break-all;
    word-wrap: break-word;
    position: relative;
    .intro {
      overflow: hidden;
      margin-bottom: 20px;
      .name {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 7px;
        position: relative;
      }
      .desc {
        font-size: 14px;
        line-height: 20px;
        color: #999;
      }
      .brand {
        display: inline-block;
        height: 24px;
        padding: 0 10px;
        margin-top: 7px;
        border-radius: 2px;
        background-color: #F7F1E8;
        font-size: 12px;
        line-height: 24px;
        color: #BF9E6B;
      }
    }

    .label {
      width: 55px;
      font-size: 13px;
      float: left;
      color: #666;
      margin-left: 10px;
    }
    .intro-price {
      background-color: #f5f3ef;
      border-top: 1px dotted #dedede;
      border-bottom: 1px dotted #dedede;
      padding: 0 0 13px;
      line-height: 24px;
      font-size: 13px;
      position: relative;
      &:before, &:after {
        content: " ";
        display: table;
        clear: both;
      }
      hr {
        margin: 10px 20px 10px 10px;
        overflow: hidden;
        border: none;
        height: 1px;
        border-bottom: 1px dashed #d2d2d2;
      }
      .form-div {
        &:before, &:after {
          content: " ";
          display: table;
          clear: both;
        }
        .price {
          height: 45px;
          margin-bottom: 5px;
          overflow: hidden;
          position: relative;
          .label {
            line-height: 30px;
            margin-top: 16px;
          }
          .sp {
            font-size: 18px;
            font-weight: 700;
            margin-right: 1px;
            margin-top: 13px;
            margin-left: 0;
            height: 30px;
            float: left;
            .rmb {
              margin-left: 0;
              line-height: 30px;
              color: #d7282d;
              font-size: 18px;
            }
            .num {
              font-size: 28px;
              line-height: 30px;
              margin-left: 2px;
              color: #d7282d;
            }
          }
          .op {
            font-size: 13px;
            color: #999;
            line-height: 24px;
            margin-top: 19px;
            float: left;
            margin-left: 10px;
          }
          .duration {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            color: #fff;
            padding: 0 5px;
            font-size: 12px;
            background-color: #e36844;
            float: left;
            margin-left: 30px;
            margin-top: 17px;
          }
        }

        .policy-box {
          margin-left: 65px;
          padding-top: 2px;
          line-height: 20px;
          color: #666;
          &:hover {
            .policy-item {
              text-decoration: underline
            }
          }
          .policy-item {
            float: left;
            cursor: pointer;
          }
        }
      }
    }

    .stock-address {
      float: left;
      .ui-area-wrap {
        position: relative;
        z-index: 3;
        height: 26px;
        margin-right: 6px;
        .ui-area-text-wrap {
          float: left;
          position: relative;
          top: 0;
          height: 23px;
          background: #fff;
          border: 1px solid #CECBCE;
          padding: 0 24px 0 4px;
          line-height: 23px;
          overflow: hidden;
          width: 150px;
        }
      }
    }

    .choose-wrap {
      .param-picker {
        margin-left: 10px;
        .spec-prop {
          margin-top: 10px;
          position: relative;
          line-height: 1;
          &:before, &:after {
            content: " ";
            display: table;
            clear: both;
          }
          .type {
            float: left;
            font-size: 12px;
            color: #666;
            width: 54px;
            &.type-2 {
              line-height: 50px;
            }
            &.type-1 {
              line-height: 30px;
            }
          }
          .cont {
            position: relative;
            width: 438px;
            float: left;
            .tabs {
              &:before, &:after {
                content: " ";
                display: table;
                clear: both;
              }
              .tab-con {
                float: left;
                position: relative;
                margin-right: 10px;
                margin-bottom: 15px;
                vertical-align: middle;
                padding: 1px;
              }
              .tab-txt {
                padding: 0 16px;
                line-height: 30px;
                font-size: 12px;
                color: #333;
                overflow: hidden;
                float: left;
                cursor: pointer;
                position: relative;
                border: 1px solid #ddd;
              }
              .tab-pic {
                height: 50px;
                border: 1px solid #ddd;
                float: left;
                cursor: pointer;
                position: relative;
                .txt {
                  display: block;
                  vertical-align: middle;
                  line-height: 48px;
                  float: left;
                  padding: 0 10px;
                }
                img {
                  width: 48px;
                  height: 48px;
                  background-color: #f4f4f4;
                  display: block;
                  float: left;
                }
              }
              .tab-sel {
                border: 2px solid #b4a078;
                color: #333;
                margin: 0;
                img {
                  width: 46px;
                  height: 46px;
                }
                em {
                  overflow: hidden;
                  vertical-align: top;
                  font-size: 12px;
                  word-spacing: normal;
                  letter-spacing: normal;
                  background-image: url(/static/images/icons/order.png);
                  background-repeat: no-repeat;
                  background-position: 0 -5248px;
                  height: 12px;
                  width: 12px;
                  display: block;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                }

                &.tab-txt {
                  padding: 0 15px;
                  line-height: 28px;
                }
              }
              .disabled {
                color: #999;
                cursor: not-allowed;
                background: #f8f8f8;
              }
            }
          }
        }
      }

      .num-picker {
        &:before, &:after {
          content: " ";
          display: table;
          clear: both;
        }
        .number {
          margin-top: 10px;
          margin-left: 10px;
          float: left;
          &:before, &:after {
            content: " ";
            display: table;
            clear: both;
          }
        }
        .name {
          line-height: 30px;
          float: left;
          font-size: 12px;
          color: #666;
          width: 54px;
          white-space: normal;
        }
        .field {
          float: left;
          margin-bottom: 3px;
          position: relative;
        }
        .u-selnum {
          border: 1px solid #ddd;
          overflow: hidden;
          display: inline-block;
          .less, .more, input {
            position: relative;
            float: left;
            width: 36px;
            height: 30px;
            line-height: 28px;
            background: #fff;
          }
          .less {
            border-right: 1px solid #ddd;
            cursor: pointer;
          }
        }
        .sx {
          position: absolute;
          width: 2px;
          overflow: hidden;
          background: #999;
          top: 11px;
          left: 16px;
          height: 10px;
        }
        .hx {
          position: absolute;
          height: 2px;
          overflow: hidden;
          background: #999;
          top: 15px;
          left: 12px;
          width: 10px;
        }
        input {
          box-sizing: border-box;
          border-radius: 0;
          border: 0;
          width: 60px;
          margin: 0;
          font-size: 12px;
          text-align: center;
          color: #333;
        }
        .more {
          border-left: 1px solid #ddd;
          cursor: pointer;
        }

        .size-helper {
          float: left;
          position: relative;
          top: 16px;
          cursor: pointer;
          margin-left: 10px;
          i {
            background-position: 0 -1180px;
            height: 18px;
            width: 18px;
          }
          span {
            margin-left: 10px;
          }
        }
      }
    }

    .btn-wrap {
      margin-left: 12px;
      margin-top: 30px;
      font-size: 0;
      -webkit-text-size-adjust: none;
      .btn {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        word-spacing: normal;
        letter-spacing: normal;
        border-radius: 2px;
        padding: 0;
        text-align: center;
        color: #fff;
        border: 1px solid #b4a078;
        background-color: #b4a078;
        width: 168px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        margin-right: 10px;
        &.disabled {
          border: 1px solid #ddd;
          background-color: #f8f8f8;
          color: #ccc;
          cursor: not-allowed;
        }
      }
    }
    .summary-line {
      height: 0;
      overflow: hidden;
      border-bottom: 1px dotted #dfdfdf;
      margin-bottom: 15px;
    }
    .choose-attrs {
      .summary-stock {
        line-height: 40px;
      }
      .item {
        background-color: #F7F7F7;
        float: left;
        color: #666;
        margin-right: 7px;
        margin-bottom: 4px;
        position: relative;
        b {
          overflow: hidden;
          vertical-align: top;
          font-size: 12px;
          word-spacing: normal;
          letter-spacing: normal;
          background-image: url(/static/images/icons/order.png);
          background-repeat: no-repeat;
          background-position: 0 -5248px;
          height: 12px;
          width: 12px;
          display: none;
          position: absolute;
          bottom: 0;
          right: 0;
        }
        a {
          border: 1px solid #ccc;
          padding: 0 13px;
          display: block;
          white-space: nowrap;
          img {
            border: 0;
            vertical-align: middle;
          }
          i {
            margin: 0 8px;
            font-style: normal;
          }
        }
        &:hover, &.hover {
          a {
            border: 1px solid #e3393c;
            color: #666;
          }
          b {
            display: block;
          }
        }
      }
      .colors-stock {
        .item {
          a {
            padding: 0;
          }
        }
      }
    }
    .choose-btns {
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 0 10px;
      .choose-amount {
        width: 58px;
        height: 44px;
        overflow: hidden;
        border: 1px solid #ccc;
        position: relative;
        margin-right: 10px;
        float: left;
        input {
          display: block;
          width: 43px;
          height: 42px;
          line-height: 42px;
          position: absolute;
          top: 1px;
          left: 0;
          border: none;
          border: 0;
          text-align: center;
        }
        a {
          display: block;
          width: 15px;
          text-align: center;
          height: 22px;
          line-height: 22px;
          overflow: hidden;
          background: #f1f1f1;
          color: #666;
          position: absolute;
          right: -1px;
          border: 1px solid #ccc;
          &.btn-reduce {
            bottom: -1px;
          }
          &.btn-add {
            top: -1px;
          }
        }
      }
      .btn-lg {
        margin-right: 10px;
        float: left;
        height: 46px;
        line-height: 46px;
        padding: 0 26px;
        font-size: 18px;
        font-family: "microsoft yahei";
        font-weight: 700;
        background-color: #df3033;
        color: #fff;
      }
    }
    .summary-tips {
      margin-bottom: 5px;
      .tips-list {
        cursor: pointer;
        text-decoration: underline;
        li {
          float: left;
          margin-right: 15px;
          font-family: simsun;
          color: #999;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.cf-tab {
  border-top: 2px solid #999;
  .cf-tab-nav {
    height: 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fcfcfc;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      height: 30px;
      float: left;
      overflow: visible;
      margin-bottom: -1px;
      li {
        float: left;
        display: list-item;
        list-style: none;
        line-height: 30px;
        margin-left: -1px;
        a {
          font-size: 15px;
          line-height: 44px;
          padding-left: 15px;
          padding-right: 15px;
          color: #666;
          text-decoration: none;
          &:hover {
            color: #b4a078;
          }
        }
        &.active {
          height: 44px;
          margin-top: -6px;
          border-top: 2px solid #b4a078;
          background: #fff;
          a {
            height: 44px;
            line-height: 44px;
            float: left;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            background: #fff;
          }
        }
      }
    }
  }
  .cf-tab-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-top: 0;
    display: block;
    background: #fff;
    .qa {
      padding: 40px 50px 20px;
      font-size: 14px;
      line-height: 1;
      .issue {
        padding-bottom: 32px;
        .question {
          padding-bottom: 8px;
          margin: 0;
        }
        .answer {
          line-height: 18px;
          margin: 0;
          color: #999;
        }
      }
    }
    .prod-detail {
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.sidebar {
  background: #fff;
  border: 1px solid #ccc;
  .hd {
    height: 41px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f5f5f5;
    .title {
      text-align: center;
      font-size: 18px;
      color: #666;
    }
  }
  .bd {
    padding: 15px;
    .product-item {
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 24px;
      &:last-child {
        border-bottom: none;
      }
    }
    .item-img {
      img {
        display: block;
        width: 100%;
        margin: 15px auto;
      }
    }
    .item-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 8px;
      text-align: center;
      a {
        color: #666;
        text-decoration: none;
        font-size: 14px;
      }
    }
    .item-amount {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 8px;
      text-align: center;
      a {
        color: #666;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}

.content-bd {
  .item-tit {
    font-size: 16px;
    color: #333;
  }
  .item-txt {
    font-size: 14px;
    color: #999;
  }
}

.detail-tab {
  width: 100%;
  position: fixed;
  top: 0px;
  display: none;
  .button-primary {
    position: absolute;
    width: 120px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #b4a078;
    color: #fff;
    left: 50%;
    margin-left: 425px;
    margin-top: 5px;
  }
  &.position-fixed {
    display: block;
  }
}