.right-bar {
  position: fixed;
  left: 50%;
  bottom: 100px;
  display: none;
  z-index: 101;
  margin-left: 610px;
  height: 144px;
  li {
    width: 48px;
    height: 48px;
    cursor: pointer;
    &.right-bar-top {
      border-radius: 8px;
      background-color: #F7F1E8;
      background-image: url(/static/images/icons/rightBar-top.png);
      background-position: 0 center;
      background-repeat: no-repeat;
      &:hover {
        background-color: #BF9E6B;
        background-image: url(/static/images/icons/rightBar-top-white.png);
      }
    }
  }
}