<div class="checkout">
    <div ng-header></div>
    <div class="checkout-bd">
        <div class="row">
            <div class="checkout-panel">
                <div class="hd">收货信息</div>
                <div class="bd">
                    <div class="order-address">
                        <form name="orderForm" novalidate>

                            <div class="row-addr">
                                <span class="label"><em>*</em>收货人姓名：</span>
                                <div class="input-div">
                                    <div class="input-wrap">
                                        <input type="text" class="w-ipt" ng-model="address.name"
                                               name="name" placeholder="姓名"
                                               ng-class="{'error' : isSubmit && orderForm.name.$invalid}"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="row-addr">
                                <span class="label"><em>*</em>联系手机：</span>
                                <div class="input-div">
                                    <div class="input-wrap active-input-wrap">
                                        <input type="text" class="w-ipt" ng-model="address.mobile"
                                               name="mobile" placeholder="手机号" maxlength="11" minlength="11" ng-pattern="/^[0-9]*$/"
                                               ng-maxlength="11" ng-minlength="11"
                                               ng-class="{'error' : isSubmit && orderForm.mobile.$invalid}"
                                               required>
                                        <button ng-show="orderForm.mobile.$valid" type="button"
                                                ng-click="getCode($event,address.mobile)"
                                                class="active-code"
                                                ng-class="{'disabled':orderForm.mobile.$invalid || !activeClass}">
                                            {{activeText}}
                                        </button>
                                    </div>
                                </div>
                                <span class="label"><em>*</em>验证码：</span>
                                <div class="input-div">
                                    <div class="input-wrap">
                                        <input style="width: 80px;" type="tel" class="w-ipt"
                                               ng-model="address.code"
                                               ng-pattern="/^[0-9]*$/" ng-maxlength="4" ng-minlength="4"
                                               name="code" placeholder="验证码"
                                               ng-class="{'error' : isSubmit && orderForm.code.$invalid}"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="row-addr">
                                <span class="label"><em>*</em>所在地区：</span>
                                <div class="input-div">
                                    <input ng-model="address.city" name="city" type="hidden" class="w-ipt" required>
                                    <div class="stock-address"
                                         ng-class="{'error' : isSubmit && orderForm.city.$invalid}">
                                        <div class="ui-area-wrap ui-area-oversea-mode">
                                            <div ng-click="showSelector()" class="ui-area-text-wrap">
                                                <div class="ui-area-text">{{address.city || '请选择区域'}}</div>
                                                <b></b>
                                            </div>
                                            <div ng-address show="show" area="area"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-addr">
                                <span class="label" style="margin-top: 6px;vertical-align: top;"><em>*</em>详细地址：</span>
                                <div class="input-div">
                                    <div class="input-wrap">
                                        <input style="width: 530px" ng-model="address.room" name="room"
                                               type="text" class="w-ipt" placeholder="详细地址，街道、门牌号等"
                                               ng-class="{'error' : isSubmit && orderForm.room.$invalid}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row-addr">
                                <span class="label" style="margin-top: 6px;vertical-align: top;">留言：</span>
                                <div class="input-div">
                                    <div class="input-wrap">
                                        <textarea placeholder="请录入您的特殊需求" ng-model="address.feedback"
                                                  name="address.feedback" cols="30" rows="10"
                                                  tabindex="6" class="w-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="tips"><em>金山优选已为您加密您所提供的信息，请放心填写！</em></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="order-info">
                <div class="table-panel">
                    <div class="thead-bg"></div>
                    <table>
                        <thead class="hd">
                        <tr>
                            <td style="width:360px; text-align: left">商品信息</td>
                            <td style="width:165px;">单价</td>
                            <td style="width:171px;">数量</td>
                            <td style="width:191px;">小计</td>
                            <td style="width:179px;">实付</td>
                        </tr>
                        </thead>
                        <tbody class="bd">
                        <tr class="tr">
                            <td class="item-info">
                                <div class="img-wrap">
                                    <img src="{{prod.img}}"
                                         alt=""></div>
                                <div class="info-wrap">
                                    <div class="name"><span>{{prod.name}}</span></div>
                                    <p class="line">
                                        <span ng-repeat="item in attrs" class="spec">{{item.name}}：{{item.selected.value}}</span>
                                    </p>
                                    <p class="line"><a style="color: #3b6ded;text-decoration: none" href="javascript:;">全国包邮，先验货后付款！</a></p>
                                </div>
                            </td>
                            <td class="item-price">
                                <div class="td-wrap">
                                    <div class="price-wrap">
                                        <span><span>¥</span><span>{{prod.price | number : 2}}</span></span>
                                    </div>
                                </div>
                            </td>
                            <td class="item-count">
                                <div class="td-wrap">{{prod.totalQuantity}}</div>
                            </td>
                            <td class="item-count">
                                <div class="td-wrap">
                                    <span><span>¥</span><span>{{prod.price * prod.totalQuantity | number : 2}}</span></span>
                                </div>
                            </td>
                            <td>
                                <div class="td-wrap"><span><span>¥</span><span>{{prod.price * prod.totalQuantity | number : 2}}</span></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="invoice">
                    <div class="tt"><span>发票信息</span></div>
                    <div class="g-invoice">
                        <div ng-click="showInvoice()" class="w-chkbox">
                            <input type="checkbox" ng-model="invoice.need" class=""><span
                                style="margin-left:9px;">我要开发票</span>
                        </div>
                        <div ng-show="invoice.need" class="invoice-info">
                            <div>
                                <ul class="m-list">
                                    <li class="item">
                                        <span>发票类型：</span><span>{{invoice.type === 1 ? '增值税专用发票' : '普通发票'}}</span>
                                    </li>
                                    <li class="item limit100">
                                        <span>发票抬头：</span><span>{{invoice.name}}</span>
                                    </li>
                                    <li class="item">
                                        <a ng-click="showInvoice()" class="w-link" href="javascript:;">修改</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-info-ft">
                    <div class="confirm-pay-info">
                        <div class="pay-items-info">
                            <div class="line1">
                                <label><span>商品合计</span><span>:</span></label><span class="amount"><span>¥{{prod.price * prod.totalQuantity | number : 2}}</span></span>
                            </div>
                            <div class="line1 boxHoverLine">
                                <label><span>运费</span><span class="f-hide"></span><span>:</span></label><span
                                    class="amount"><span>¥0.00</span></span>
                            </div>
                            <div class="line4"><label><span>应付总额</span><span>:</span></label><span class="amount"><span>¥{{prod.price * prod.totalQuantity | number : 2}}</span></span>
                            </div>
                        </div>
                        <div class="line5">
                            <input ng-click="submit()" class="w-button w-button-primary w-button-xl submit"
                                   ng-class="{'loading' : loading}" type="button" value="{{loading ? '提交中' : '提交订单'}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout-panel" style="margin-bottom: 96px;">
                <div class="hd">购买流程</div>
                <div class="bd">
                    <img style="display: block;margin: 15px auto;" src="/static/images/pros.png">
                </div>
            </div>
        </div>
    </div>
    <div ng-footer></div>
</div>

<div ng-show="invoiceShow" class="dialog-container">
    <div class="mask"></div>
    <div class="overlay">
        <div class="overlay-container" style="padding-bottom: 0;width: 700px">
            <span ng-click="showInvoice()" class="close"></span>
            <div class="content-hd">
                发票信息
            </div>
            <div class="content-bd">
                <form name="invoiceForm" novalidate>
                    <div class="form-group">
                        <label>发票抬头 :</label>
                        <div class="input-box">
                            <div class="tab-picker">
                                <ul class="picker-tabs">
                                    <li ng-click="setType(0)" class="tab" ng-class="{'curr' : invoice.type === 0}">
                                        <span class="txt">普通发票</span>
                                        <i></i></li>
                                    <li ng-click="setType(1)" class="tab" ng-class="{'curr' : invoice.type === 1}">
                                        <span class="txt">增值税专用发票</span>
                                        <i></i>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" name="name" ng-class="{'error' : isSave && invoiceForm.name.$invalid}"
                                   placeholder="{{invoice.type === 1 ? '请录入公司名称' : '请录入公司或个人名称'}}"
                                   ng-model="invoice.name" required/>
                            <div ng-show="isSave && invoiceForm.name.$invalid" class="error-msg"
                                 style="display: block;">
                                <i></i>
                                <div class="text">发票抬头不能为空</div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="invoice.type === 1" class="form-group">
                        <label>税号:</label>
                        <div class="input-box">
                            <input type="text" ng-class="{'error' : isSave && invoiceForm.no.$invalid}" name="no"
                                   ng-maxlength="18" ng-minlength="18" placeholder="请输入纳税人识别号" ng-model="invoice.no"
                                   required/>
                            <div ng-show="isSave && invoiceForm.no.$invalid" class="error-msg" style="display: block;">
                                <i></i>
                                <div class="text">请输入正确的纳税人识别号</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="content-ft">
                <a ng-click="cancel()" class="w-button" href="javascript:;">取消</a>
                <a ng-click="save()" class="w-button w-button-primary" ng-class="{'disabled':invoiceForm.$invalid}"
                   href="javascript:;">保存</a>
            </div>
        </div>
    </div>
</div>

<div ng-show="resultShow" class="dialog-container">
    <div class="mask"></div>
    <div class="overlay">
        <div class="overlay-container" style="padding-bottom: 0;width: 700px">
            <span ng-click="showResult()" class="close"></span>
            <div class="content-hd">
                系统消息
            </div>
            <div class="content-bd">
                <p style="font-size: 14px">{{resultMsg}}</p>
            </div>
            <div class="content-ft">
                <a ng-click="showResult()" class="w-button w-button-primary" href="javascript:;">我知道了</a>
            </div>
        </div>
    </div>
</div>