<div class="checkout">
    <div ng-header></div>


    <div class="article article-about">
        <div class="banner">
            <div class="img-box">
                <img src="/static/images/article/about/banner.jpg">
            </div>
            <div class="banner-txt">
                <img src="/static/images/article/about/banner-txt.png">
            </div>
        </div>
        <div class="profit">
            <img src="/static/images/article/about/1.jpg">
        </div>
        <div class="work">
            <img src="/static/images/article/about/2.jpg">
        </div>
        <div class="promise">
            <img src="/static/images/article/about/3.jpg">
        </div>
        <div class="service">
            <div class="row">
                <div class="girl">
                    <div class="img-box">
                        <img src="/static/images/article/about/girl.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-footer></div>
</div>