.article-about {
  .banner {
    position: relative;
    .banner-txt {
      position: absolute;
      bottom: 50px;
      left: 50%;
      margin-left: -400px;
      img {
        display: block;
      }
    }
  }
  .service {
    background-image: url("/static/images/article/about/girl-bg.png");
    background-position: left bottom;
    background-repeat: repeat-x;
  }
  .profit {
    img {
      display: block;
      margin: 40px auto 70px;
    }
  }
  .work {
    img {
      display: block;
      margin: 40px auto 70px;
    }
  }
  .promise {
    img {
      display: block;
      margin: 20px auto 70px;
    }
  }
}