<div class="footer">
    <div class="footer-bd">
        <div class="row">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="box">
                        <h4>关于金山优选</h4>
                        <p>金山优选秉承一贯的严谨态度，对商品的供应商、源材料、工艺都严格把关，通过先验货，后付款的方式，为您的生活甄选最具性价比的高品质的商品，您可以放心选购。</p>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="wap-admin box">
                        <h4>扫码查订单</h4>
                        <div class="qr-code">
                            <img src="/static/images/qr.png?v=4f4d55b942">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bt">
        <div class="row">
            <ul class="site-ensure">
                <li class="item">
                    <div class="item-box">
                        <i style="background: url(/static/images/footer/3.png?v=42fa558f83)"></i><span>大牌制造商直供，品质保证</span>
                    </div>
                </li>
                <li class="item">
                    <div class="item-box">
                        <i style="background: url(/static/images/footer/1.png?v=f7aab0fe45)"></i><span>7天无忧退货</span>
                    </div>
                </li>
                <li class="item">
                    <div class="item-box">
                        <i style="background: url(/static/images/footer/2.png?v=f0bc6b6e8f)"></i><span>全国包邮，货到付款</span>
                    </div>
                </li>
            </ul>
            <hr/>
            <div class="site-info">
                <div class="copyright">广州大牛信息科技有限公司版权所有 © 2017-2018   备案证：粤ICP备17156371号-2</div>
                <div class="nav">
                    <a href="javascript:;">温馨提示：产品“由某制造商出品”仅为陈述制造商既往生产经历，并不表示相关产品和特定品牌产品相同或近似</a>
                </div>
            </div>
        </div>
    </div>
</div>